@model WebApplication1.Models.Staff
<script>
    protected void 
</script>
<html>
    <head>
        <link rel="stylesheet" href="~/css/Login.css" type="text/css" />
        <meta charset="utf-8" />
        <title>Staff Login</title>
        <link rel="stylesheet" href="~/css/managetable.css" type="text/css" />
    </head>
    <body>
        <div class="hed">
            <div class="lang">
                <p>ภาษาไทย &#47; <a href="">English</a> </p> 
            </div>
            <div class="coffee">
                <img src="~/img/mug_coffee_PNG16855 2.png" alt="coffee"/>
                <br />
                <p>Coffee Shop</p>
            </div>
            <h1>พนักงาน</h1>
        </div>
        
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <div class="fail">
            <p>ชื่อผู้ใช้หรือรหัสผ่านไม่ถูกต้อง</p>
            <!--<button onclick="./Index.cshtml">ตกลง</button>-->
        </div>

    </body>
</html>